/**
 * Copyright 2018 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


prod_host_project_id    = "PROD_HOST_PROJECT_ID"
nonprod_host_project_id = "NONPROD_HOST_PROJECT_ID"
prod_shared_vpc_name    = "PROD_SHARED_VPC_NAME"
nonprod_shared_vpc_name = "NONPROD_SHARED_VPC_NAME"
inbound_policy_name     = "gcp-inbound"
forwarding_zones = [
  {
    domain                = "bar.example.com."
    name                  = "bar-example-com"
    target_server_ip_list = ["10.0.1.1", "10.0.1.2"]
  },
  {
    domain                = "foo.example.com."
    name                  = "foo-example-com"
    target_server_ip_list = ["10.0.1.3", "10.0.1.4"]
  }
]

prod_private_zones = [
  {
    domain          = "prod1.gcp.example.com."
    name            = "prod1"
  },
  {
    domain          = "prod2.gcp.example.com."
    name            = "prod2"
  }
]

nonprod_private_zones = [
  {
    domain          = "dev1.gcp.example.com."
    name            = "dev1"
  },
  {
    domain          = "dev2.gcp.example.com."
    name            = "dev2"
  }
]
